/* You can add global styles to this file, and also import other style files */

/*
  Materialize Sass
*/
//Surcharge du chemin vers les fonts
$roboto-font-path: "../node_modules/materialize-css/dist/fonts/roboto/" !default;

//Commencer par l'import des couleurs
@import "../node_modules/materialize-css/sass/components/color";

//Surcharger les couleurs globales: c.f. ../node_modules/materialize-css/sass/components/_variables.scss
$primary-color: color("amber", "lighten-2") !default;
$secondary-color: color("orange", "lighten-1") !default;

//Importer le framework à la fin
@import "../node_modules/materialize-css/sass/materialize";

