<header>
  <app-navbar></app-navbar>
</header>

<main>
  <nav class="nav-extended">
    <div class="nav-content valign-wrapper">
      <span href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></span>
      <div class="nav-title">
        <span>Publications</span>
      </div>
      <a *ngIf="sharedService.currentUser != null" class="btn-floating btn-large halfway-fab waves-effect waves-light" (click)="showModalPost()">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>
  <div class="container">
    <app-posts-panel></app-posts-panel>
  </div>

  <div id="postModal" class="modal">
    <div class="modal-content">
      <h4>Nouvelle publication</h4>
      <form (ngSubmit)="sendPost(newPostForm.valid)" 
            #newPostForm="ngForm"
            class="right-align">
        <div class="input-field">
          <input id="title" name="title" [(ngModel)]="newPost.title" required>
          <label [ngClass]="{'active': newPost.title?.length > 0}" for="title" data-error="wrong" data-success="right">Titre</label>
        </div>
        <div class="input-field">
          <textarea id="body" name="body" [(ngModel)]="newPost.body" class="materialize-textarea" required></textarea>
          <label [ngClass]="{'active': newPost.body?.length > 0}" for="body" data-error="wrong" data-success="right">Exprimez-vous</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Valider</button>
      </form>
    </div>
  </div>
</main>